@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/********* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/************ Main Elements */
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0.7rem 0rem;
}

/********* Utility */

.l-heading {
  font-size: 3rem;
}

.m-heading {
  font-size: 1.5rem;
}

.text-center{
  text-align: center;
}

.text-primary {
  color: #81a658;
}

.text-secondary {
}

.bg-primary{
    background-color:#81a658;
    color: #fff;
}

.bg-dark {
  background-color: #333333;
  color: #ffffff;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-half{
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.btn-primary {
  background-color: #81a658;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #709447;
  color: #ffffff;
}

.btn-dark{
  color: #fff;
  background-color: #333333;

}



/*********** Nav Bar */
#navbar {
  position: sticky;
  top: 0;

  z-index: 4;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #262626;
  color: #ffffff;
  padding: 0.8rem 1rem;
}

#navbar .logo a {
  color: #ffffff;
}

#navbar .logo i {
  position: relative;
  top: -2px;
}

#navbar ul {
  display: flex;
  align-items: center;

  list-style: none;
}

#navbar ul li a {
  color: #ffffff;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 5px;
}

#navbar ul li a:hover {
  background-color: #81a658;
}

/************ Showcase */
#showcase {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #ffffff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

#showcase .showcase-content .l-heading {
  /* line-height: 1.2; */
}

#showcase .showcase-content .lead {
  font-size: 1.1rem;
  padding: 0 2rem;
  margin-bottom: 1.3rem;
  line-height: 1.5;
}

#showcase .showcase-content .btn-primary {
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/************** What we do */

#what .container {
  width: 80%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  /* align-content: center; */
}
#what .container .m-heading{
  text-align: center;
  margin-bottom: 1rem;
}

#what .items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#what .items .item {
  flex: 1;
  margin: 0.5rem;
}
#what .items .item i {
  margin-bottom: 0.7rem;
  background-color: #81a658;

  padding: 0.6rem;
  border-radius: 50%;
}

/************ Who Are We  */
#who {
  display: flex;
  flex-direction: row;
}

#who div {
  flex: 1;
}

#who .who-image {
  background: url("/img/people.jpg") no-repeat center center/cover;
}

#who .who-text ul {
  list-style: none;
  margin-top: 1rem;
}

#who .who-text ul li {
  border-bottom: 1px grey dotted;
  margin-bottom: 0.75rem;
}

/****************** Our Clients  */


#clients .m-heading {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#clients .clients {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

#clients .clients .item img {
  display: block;
  width: 60%;
  margin: auto;
}

/********** Contact Form & Map */
#contact{
    display: flex;
}

#contact .contact-form, 
#contact #map{
  flex: 1;
}

#contact .contact-form .form-group label{
  display: block;
  margin-bottom: 0.1rem;
}

#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea{
  width: 100%;
  border: 1px solid #f4f4f4;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
}

#contact .contact-form .btn-dark{
  padding: 0.5rem 1rem;
  border: none;
}

#contact #map {
  
}


/*********** Footer  */


